<center>
    <br>
    <br>
    <div class="container-fluid">
        <img src="assets/images/images.png" class="img-fluid" height="180px">
    </div>
    <h2>Create a Fortnite Dance Party</h2>
    <h5>[Hype, Floss, Take the L, Electro Shuffle, Freestyler, Etc]</h5>
    <br>

    <form class="create-form" action="/" method="POST">

        <div class="form-group">
            <label for="">Fortnite Dance Move:</label>
            <input type="text" id="dn" name="dance">
        </div>

        <button class="add-dance btn" type="submit">Add Moves</button>
    </form>
</center>

<div class="row">
    <div class="col-6-md">
        <h2>Add Dance Moves!</h2>
        {{> dances/dance-block}}
    </div>


    <div class="col-6-md">
        <h2>Your Party Is Ready!</h2>
        {{> dances/dance-block-danced}}
    </div>
</div>