<center>
    <br>
    <br>
    <div class="container-fluid">
        <img src="assets/images/images.png" class="img-fluid" height="180px">
    </div>
    <h2>Gimme a Fortnite Dance Move</h2>
    <h5>[Hype, Floss, Take the L, Electro Shuffle, Freestyler]</h5>
    <br>

    <form class="create-form">

        <div class="form-group">
            <label for="">Dance Name:</label>
            <input type="text" id="dn" name="name">
        </div>

        <button class="add-dance btn" type="submit">Add Dance Name</button>
    </form>
</center>

<div class="box">
    <div class="float-left">
        <div class="col-6-md">
            <div class="card">
                <h2 class="card-header text-left">Let's Dance!</h2>
                <div class="card-body">
                    <div class="card-text">
                        {{> dances/dance-block}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="float-right">
        <div class="col-6-md">
            <div class="card">
                <h2 class="card-header text-right">Gimme a Towel!</h2>
                <div class="card-body">
                    <div class="card-text">
                        {{> dances/dance-block-danced}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>