img {
    content: url('/dance/public/assets/images/images.png') no-repeat;
    width: 364px;
    height: 138px;
  }

h1, h2, h3, h4, h5, label {
    color: white;
    font-family: monospace;
}

.container-fluid {
    background-color: white;

}

.row {
   float: left;
   width: 100%;
   
}

.col-6-md {
    float: left;
    padding-left: 150px;
   padding-right: 20px;
   padding-bottom: 80px;
   width: 50%;
}
.dance-div {
    color: white;
    font-family: monospace;
    font-size: 16px;
}

button {
    color: darkmagenta;
}

footer {
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 16px;
}