<ul>

{{#each dances}}
{{#if this.queued}}
<div class="dance-div">
    <div class="row">
        <div class="col-3-md">
            {{this.dance}}
        </div>
        {{!-- <div class="col-3-md">
            <button class="delete btn-sm" data-id="{{this.id}}" disabled>
                Turn Down the Beat!
            </button>
        </div> --}}
    </div>
</div>
{{/if}}
{{/each}}
</ul>