<ul>

{{#each dances}}
{{#if this.queued}}
<div class="dance-div">
    <div class="row">
        <div class="col-3-md">
            {{this.dance}}
        </div>
    </div>
</div>
{{/if}}
{{/each}}
</ul>