<ul>

{{#each dances}}
	{{#unless this.queued}}
		<div class="dance-div">
			<div class="row">
				<div class="col-3-md">
					{{this.dance}}
				</div>
				<div class="col-3-md">
			
                      <form action="/{{this.id}}?_method=PUT" method="POST">
			          <input type="hidden" name="queued" value="true">
			          <button class="change-dance btn-sm" data-id="{{this.id}}" data-newdance="{{this.queued}}">Turn Up the Beat!</button>
			        </form>
				</div>
			</div>
		</div>
	{{/unless}}
{{/each}}
</ul>