{{#each dances}}
	{{#unless this.queued}}
		<div class="dance-div">
			<div class="row">
				<div class="col-3-md">
					{{this.dance}}
				</div>
				<div class="col-3-md">
					<button class="change-dance btn-sm" data-id="{{this.id}}" data-newdance="{{this.queued}}">
						Watch My Moves!
					</button>
				</div>
			</div>
		</div>
	{{/unless}}
{{/each}}
