{{#each dances}}
{{#if this.queued}}
<div class="dance-div">
    <div class="row">
        <div class="col-3-md">
            {{this.dance}}
        </div>
        <div class="col-3-md">
            <button class="delete-dance btn-sm" data-id="{{this.id}}">
                Grab me a towel!
            </button>
        </div>
    </div>
</div>
{{/if}}
{{/each}}